body{
  font-family: Poppins, sans-serif;
}



#initialisation{
  display: block;
}
#initialisation-bg {
  position: fixed;
  right: 0;
  bottom: -35%;
  min-width: 100%; 
  min-height: 100%;
}



@keyframes initialisation {
  from {
    
  }
}