@font-face{font-family:Maghfirea;src:url('../ressources/fonts/Maghfirea.otf')}
@font-face{font-family:Casanova;src:url('../ressources/fonts/Casanova.ttf')}
body{
  font-family: Poppins, sans-serif;
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 20vh;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20vh;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20vh;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.30);
  border-radius: 20vh;
}







/* CLIQUE DROIT */
.context-menu {
  visibility: hidden;
  position: absolute;
  text-align: center;
  background: lightgray;
  padding: 10px;
  border-radius: 1vh;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}



#bureau-xl{
  display: block;
  background: url('../ressources/img/webp/background-5.webp');
  background-position: center;
  background-size: cover;
}
#bureau-sm{
  display: none;
}
#bureau-extrasm{
  display: none;
}
@media (max-width: 800px) {
  body{overflow: auto;}
  #bureau-xl{display:none}
  #bureau-sm{display:block}
  #bureau-extrasm{display: none;}
}
@media (max-width: 400px) {
  body{overflow: auto;}
  #bureau-xl{display:none}
  #bureau-sm{display:none}
  #bureau-extrasm{display: block;}
}



#menu-app{
  animation-name: menuAppIn;
  animation-duration: 0.4s;
}
#menu-app-accueil1{
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
}
#menu-app-accueil2{
  display: none;
  color: rgb(43, 255, 0);
  box-shadow: inset 0 0 0 1px rgb(43, 255, 0);
}
#menu-app-accueil2:hover{
  color: rgb(255, 0, 0);
  box-shadow: inset 0 0 0 1px rgb(255, 0, 0);
}
#menu-app-taches1{
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
}
#menu-app-taches2{
  display: none;
  color: rgb(43, 255, 0);
  box-shadow: inset 0 0 0 1px rgb(43, 255, 0);
}
#menu-app-taches2:hover{
  color: rgb(255, 0, 0);
  box-shadow: inset 0 0 0 1px rgb(255, 0, 0);
}



#menu-personnel{
  animation-name: menuPersonnelIn;
  animation-duration: 0.4s;
}



#menu-retrocomp{
  display: none;
}



#menu-compte-sub{
  display: none;
}
#menu-compte:hover{
  cursor: pointer;
}



#app-accueil{
  opacity: 0;
  visibility: hidden;
}



#app-background{
  opacity: 0;
  visibility: hidden;
}



#app-taches{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
#app-taches-body{
  padding-right: 2vh;
  width: 750px;
  height: 500px;
  overflow-y: auto;
}



#app-welcome{
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}
#app-welcome-body{
  padding-right: 2vh;
  width: 750px;
  height: 500px;
  overflow-y: auto;
}



#app-projets{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
#app-projets-body{
  padding-right: 2vh;
  width: 750px;
  height: 500px;
  overflow-y: auto;
}



#app-stages{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
#app-stages-body{
  padding-right: 2vh;
  width: 750px;
  height: 500px;
  overflow-y: auto;
}



#app-catalog{
  opacity: 0;
  visibility: hidden;
}
#app-catalog-body{
  padding-right: 2vh;
  width: 1000px;
  height: 600px;
  overflow-y: auto;
}



#app-cv{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
#app-cv-body{
  width: 750px;
  height: 500px;
  overflow-y: auto;
}



#app-certifications{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
#app-certifications-body{
  padding-right: 2vh;
  width: 750px;
  height: 500px;
  overflow-y: auto;
}



#initialisation{
  display: block;
}
#initialisation-bg {
  position: fixed;
  right: 0;
  bottom: -35%;
  min-width: 100%; 
  min-height: 100%;
}



@keyframes appIn{
  from{
    transform: scale(0.85) rotate(8deg);
    opacity: 0;
  }
  to{
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes appOut{
  from{
    transform: scale(1) rotate(0deg);
    opacity: 1;
    
  }
  to{
    transform: scale(0.85) rotate(8deg);
    opacity: 0;
  }
}
@keyframes menuAppIn{
  from{
    transform: scale(0.85) translateY(40px);
    opacity: 0;
  }
  to{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes menuPersonnelIn{
  from{
    transform: scale(0.85) translateX(40px);
    opacity: 0;
  }
  to{
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}
@keyframes menuRetrocompIn{
  from{
    transform: translateX(-500px) scale(0.95);
    opacity: 0;
  }
  to{
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}
@keyframes image-boing {
  from{
      transform: scale(1) rotate(-10deg);
  }
  30%{
      transform: scale(0.9) rotate(5deg);
  }
  60%{
      transform: scale(1.1) rotate(-5deg);
  }
  to{
      transform: scale(1) rotate(-10deg);
  }
}