doctype html 
html(lang="fr")
    head 
        title Hugo Doueil - Portfolio 2021
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="author" content="Hugo Doueil - 2021")
        meta(name="description" content="Portfolio étudiant de Hugo Doueil - 2021")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        style 
            include dist/index.css
            include framework/banqueSIO v1.4.1/banqueSIO.css

    body 
        .container1.bSIO--paddingTop10vh.bSIO--paddingLeft10vh.bSIO--bgColor--navyblue.bSIO--paddingBottom10vh.bSIO--height80vh
            h1.bSIO--fontWeight2.bSIO--fontFamily--poppins.bSIO--fontSize4vw.bSIO--fontColor--white HUGO DOUEIL - BTS SIO SLAM
            p.bSIO--fontWeight1.bSIO--fontFamily--poppins.bSIO--fontColor--anzac.bSIO--fontSize3vw PORTFOLIO ÉTUDIANT 2021
        .container2.bSIO--height80vh.bSIO--bgColor--anzac.bSIO--paddingTop10vh.bSIO--paddingLeft10vh.bSIO--paddingBottom10vh
            p.bSIO--fontFamily--poppins.bSIO--fontColor--white.bSIO--fontSize3vw METTRE LES VIGNETTES EXPLICATIVES ICI !!!