body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	letter-spacing: 1px;
	background: #fff;
	background-size: cover;
}
.box1
{
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1360px;
	height: 600px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #fbfad3;
}
.box1:nth-child(1)
{
	cursor: url("arrow.png"),auto;
}
.box2
{
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1360px;
	height: 200px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #c6e377;
}
.box2:nth-child(2)
{
	cursor: url("arrow.png"),auto;
}
.box3
{
	position: absolute;
	top: 73%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1360px;
	height: 100px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #729d39;
}
.box3:nth-child(3)
{
	cursor: url("arrow.png"),auto;
}
.box4
{
	position: absolute;
	top: 97.5%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1360px;
	height: 100px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #36622b;
}